# .npmrc
@ethlimo:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
registry=https://registry.npmjs.org/
ignore-scripts=true
provenance=true
save-exact=true
save-prefix=''
